.arquitecto{
    color: ghostwhite;
    text-align: center;
    background-color:transparent;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    font-variant: small-caps;
}
.texto{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant-east-asian: traditional;
}
.foto2{
    grid-column: 10/ span 1;
    width: 110px;
   }
.texto1
{color: ghostwhite;}
.tabla{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: ghostwhite;
}
.texto2{
    color: ghostwhite;
}

.tabla1{
    margin-left: 375px;
    margin-right: 350px;
    text-align: center;
    color: ghostwhite;
}
