.historia{
    color: ghostwhite;
    text-align: center;
    background-color:transparent;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    font-variant: small-caps;
}
.texto{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant-east-asian: traditional;

}

.foto22{
    width: 500px;
    height: 300px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align-last: right
  
  }