.Titulo{
  text-align: center;
  color: black;
  font-size: 60px;
  padding: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: pref;
  background-color: rgb(180, 125, 125);
}

.Imagen{

}
.Texto{
 font-size: 30px;
 font-family: cursive;
}
    
body{
  background: linear-gradient(to right, rgb(195, 236, 238), rgb(77, 101, 133))
}

table{
  text-align: center;
  border-spacing: 200px;
  border-collapse: separate;
}


header{
  margin-bottom: 100px;
  border: burlywood;
}



.location-listing {
  position: relative;
}

.location-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90,0,10,0.4);
}

