
header{
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 2px;
}

footer{
    background-color: #e6e6e6;
    color: rgb(0, 0, 0);
    padding:0px;
    border: 1px solid black;
    margin-top: 4.5cm;
}
#Basílica{
    margin-top: 2cm;
    border: 1px solid black;

}


/*Menú de navegación*/

nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 15px 0 0 0;
    text-align: center;
    font-size: 16px;
    z-index: 99999;
}
nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
    z-index: 99999;
}
nav.primary-navigation li a {
    color: black;
}
nav.primary-navigation li a:hover {
    color: #3ca0e7;
}
nav.primary-navigation li:hover {
    cursor: pointer;
}
nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}
nav.primary-navigation ul li:hover > ul, nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}
nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}
a {
    text-decoration: none;
}
a:hover {
    color: #3ca0e7;
}
ul li ul li a {
    transition: all 0.5s ease;
}

/*Slide 1*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 450px + 3em);
}

.slide-item {
    position: absolute;
    opacity: 0;
    transition: ease-out 0s;
    transition: ease-in 0.5s;
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 1;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 40%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
      li:nth-child(4) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
} 

/*Tarjeta planta*/
body {
    background: #eee;
}
.date__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    border: 4px solid;
    font-weight: bold;
    padding: 5px 10px;
}
.date__box .date__day {
    font-size: 22px;
}
.blog-card {
    padding: 30px;
    position: relative;
}
.blog-card .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
}
.blog-card .blog-card__background, .blog-card .card__background--layer {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog-card .blog-card__background {
    padding: 15px;
    background: white;
}
.blog-card .card__background--wrapper {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
}
.blog-card .card__background--main {
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-card .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(51, 51, 51, 0.9);
    transition: 300ms ease-in-out;
}
.blog-card .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-card .blog-card__info {
    z-index: 10;
    background: white;
    padding: 20px 15px;
}
.blog-card .blog-card__info h5 {
    transition: 300ms ease-in-out;
}
.blog-card:hover .date__box {
    opacity: 1;
    transform: scale(1);
}
.blog-card:hover .card__background--main {
    transform: scale(1.2) rotate(5deg);
}
.blog-card:hover .card__background--layer {
    opacity: 1;
}
.blog-card:hover .blog-card__info h5 {
    color: #3ca0e7;
}
a.icon-link {
    color: #363738;
    transition: 200ms ease-in-out;
}
a.icon-link i {
    color: #3ca0e7;
}
a.icon-link:hover {
    color: #3ca0e7;
    text-decoration: none;
}
.btn {
    background: white;
    color: #363738;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0;
    border: none;
}
.btn:focus {
    box-shadow: none;
}
.btn:hover {
    background: #3ca0e7;
    color: #fff;
}
.btn.btn--with-icon {
    padding-right: 20px;
}
.btn.btn--with-icon i {
    padding: 0px 30px 0px 15px;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    vertical-align: bottom;
    color: white;
    background: #3ca0e7;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}
.btn.btn--only-icon {
    width: 50px;
}

/*Grid*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .b{
    padding: auto;
    margin: auto;
    background-color: white;
  }