
.ubicacion{
    color: black;
    text-align: center;
    background-color:azure;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 130px;
    font-variant: small-caps;
}


.titulo{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-variant-east-asian: traditional;
}

.mapa{
    text-align: center;
}