.pm{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-variant-east-asian: traditional;
    
}

.monasterio{
    margin-top: 100px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

p{
    
    background-color: azure;
    font-size: 25px;
    
}

.bueno{
    text-align: center;
}

.descarga{
    margin-left: 770px;
    margin-right: 300px;
}